RAWG_API_KEY=cb3017ff6da34834978226f2f662fbe3
ITAD_API_KEY=8215e88c3bdc690bb9b5b51a00cfeaed2fb5e38e
PORT=3000

DB_HOST=mysql
DB_USER=root
DB_PASSWORD=huaman2365
DB_NAME=casaoferta

JWT_SECRET=supersecreto


# email
EMAIL_USER=javierhuaman255@gmail.com
EMAIL_PASS=rgdpnfmzzgzpeaxa
