/* ===== CONTENEDOR CARRUSEL ===== */
.hero {
  display: flex;
  gap: 20px;
  padding: 20px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;

  /* ocultar barra */
  scrollbar-width: none;
}

.hero::-webkit-scrollbar {
  display: none;
}

/* ===== TARJETAS ===== */
.hero-card {
  min-width: 260px;
  max-width: 260px;

  background: #1e293b;
  border-radius: 12px;
  overflow: hidden;

  scroll-snap-align: center;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
  position: relative;
}

/* hover */
.hero-card:hover {
  transform: scale(1.06);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}
.hero-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
}
/* ===== IMAGEN ===== */
.hero-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* ===== TITULO ===== */
.hero-card h2 {
  font-size: 15px;
  margin: 10px;
  color: white;
}

/* ===== METACRITIC ===== */
.metacritic {
  font-weight: bold;
  margin: 0 10px;
}

/* colores */
.metacritic.alto {
  color: #22c55e;
}

.metacritic.medio {
  color: #facc15;
}

.metacritic.bajo {
  color: #ef4444;
}

/* ===== PLATAFORMAS ===== */
.plataformas {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 8px 10px 12px;
}

.plataformas span {
  background: #334155;
  color: white;
  font-size: 11px;
  padding: 4px 6px;
  border-radius: 6px;
}
.plataformas {
  display: flex;
  gap: 10px;
  margin: 8px 10px 12px;
}

.plataformas span {
  font-size: 18px;
  color: #94a3b8;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

/* hover */
.plataformas span:hover {
  color: white;
  transform: scale(1.2);
}