.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.modal-alerta {
  width: 400px;
  background: #111827;
  border-radius: 20px;
  padding: 30px;
  color: white;
  box-shadow:
    0 20px 60px rgba(0,0,0,0.6);

  animation: aparecer 0.2s ease;
}
.modal-alerta h2 {
  margin-bottom: 10px;
}
.modal-alerta p {
  color: #cbd5e1;
  margin-bottom: 20px;
}

.modal-alerta input {
  width: 100%;

  padding: 14px;

  border-radius: 12px;

  border: 1px solid #374151;

  background: #1f2937;

  color: white;

  font-size: 16px;

  margin-bottom: 20px;
}

.modal-actions {
  display: flex;

  justify-content: flex-end;

  gap: 12px;
}

.btn-cancelar,
.btn-guardar {
  border: none;

  padding: 12px 18px;

  border-radius: 12px;

  cursor: pointer;

  font-weight: 600;

  transition: 0.2s;
}

.btn-cancelar {
  background: #374151;

  color: white;
}

.btn-cancelar:hover {
  background: #4b5563;
}

.btn-guardar {
  background: #ff7b00;

  color: white;
}

.btn-guardar:hover {
  transform: scale(1.05);
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}